.wrapper .content .about, .wrapper .footer {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper a {
  text-decoration: none;
  color: blue;
}
.wrapper a:active {
  color: white;
}
.wrapper .header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  max-height: 230px;
  background-color: blue;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 70px;
}
.wrapper .content {
  display: flex;
  flex-direction: row;
  height: 80%;
}
.wrapper .content .about {
  width: 20%;
  overflow: hidden;
  padding: 30px;
  color: white;
}
.wrapper .content .art {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, 200px);
  width: 80%;
  overflow: auto;
  background-color: black;
  gap: 10px;
  padding-top: 10px;
}
.wrapper .content .art::-webkit-scrollbar {
  width: 15px;
  background-color: black;
}
.wrapper .content .art::-webkit-scrollbar-thumb {
  background-color: blue;
}
.wrapper .content .art .child {
  background-position: center;
  position: relative;
  overflow: hidden;
}
.wrapper .content .art .child .drop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-100%);
  background-color: blue;
  font-family: 'Roboto-bold', sans-serif;
  padding: 10px;
}
.wrapper .content .art .child .drop img {
  width: 20px;
}
.wrapper .content .art .child:hover .drop {
  transform: translateY(0);
  transition-duration: 0.5s;
}
.wrapper .content .art .child:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.wrapper .content .art .child:nth-child(8) {
  grid-column: 3/5;
  grid-row: 5/8;
}
.wrapper .content #full1 {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.wrapper .content #full1:target {
  display: block;
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
}
.wrapper .footer {
  display: flex;
  flex-direction: row;
  height: 10%;
  color: blue;
  align-items: center;
}
.wrapper .footer p {
  padding-left: 25px;
}
