@import 'variables.scss';
    
* {
    margin: 0px;
    background-color: black;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: minmax(100px, 100px);
    color: blue;
    text-align: center;
    gap: 0px;
    width: 400px;
    @extend %incommontext;
    
    .child {
        border: 1px solid;
        border-color: blue;
        
        &:nth-child(1) {
            grid-column: 1/5; 
        }
        
        &:nth-child(13) {
            grid-column: 4/5;
            grid-row: 4/6;
        }
        
        &:nth-child(18) {
            grid-column: 2/5;
            grid-row: 6/7;
        }
        
        p {
            text-align: right;
            overflow: hidden;
        }
        
        button {
            color: blue;
            cursor: pointer;
            @extend %incommontext;
            @extend %incommon;
            
            &:active {
                background-color: blue;
                color: black;
            }
        }
    }
}