@import 'variables.scss';

* {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    a {
        text-decoration: none;
        color: $secondcolor;

        &:active {
            color: $textcolor;
        }
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
        max-height: 230px;
        background-color: $secondcolor;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 70px;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        height: 80%;
        
       .about {
            width: 20%;
            overflow: hidden;
            padding: 30px;
            color: $textcolor;
            @extend %incommon;
        } 
        
        .art {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            grid-auto-rows: minmax(200px, 200px);
            width: 80%;
            overflow: auto;
            background-color: $maincolor;
            gap: 10px;
            padding-top: 10px;
            
            
            &::-webkit-scrollbar {
                width: 15px;
                background-color: $maincolor;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $secondcolor;
            }
            
            .child {
                background-position: center;
                position: relative;
                overflow: hidden;
                
                .drop {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transform: translateY(-100%);
                    background-color: $secondcolor;
                    font-family: 'Roboto-bold', sans-serif;
                    padding: 10px; 
                    
                    img {
                        width: 20px;
                    }
                } 
            
                &:hover .drop {
                    transform: translateY(0);
                    transition-duration: 0.5s;
                }
                
                &:nth-child(1) {
                    grid-column: 1/3;
                    grid-row: 1/3;
                }

                &:nth-child(8) {
                    grid-column: 3/5;
                    grid-row: 5/8;
                }
            }
        }

        #full1 {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            
            &:target {
                display: block;
                background-color:  rgba(100, 100, 100, 0.5);
                backdrop-filter: blur(5px);
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: row;
        height: 10%;
        color: $secondcolor;
        align-items: center;
        @extend %incommon;
        
        p {
            padding-left: 25px;
        }
    }
}
