* {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    height: 100%;
}

.child {
    overflow: hidden;
    position: relative;
}

.child img {
    position: absolute;
    top: -10px;
    left: -10px;
}

.hide {
    display: none;
}

.details:hover + .hide {
  display: block;
  color: black;
}

.child:first-child {
    background-color: blue;
    grid-column: 1/6;
    justify-items: center;
}

.name {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    text-align: center;
}

.child:nth-child(2) {
    grid-row: 2/5;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 25px;
}

.child:last-child {
    grid-column: 1/6;
    background-color: gray;
}

